.review {
    display: flex;
    flex-direction: column;
    margin: 0px 25%;
    font-family: Montserrat;
    gap: 50px;
    margin-bottom: 25px;
}

.review h2 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: -15px;
}

.review__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.review__title {
    font-weight: 550;
    font-size: 24px;
}

.review__card .review__author {
    font-weight: 600;
    font-size: 16px;
}

.review__card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    overflow: hidden;
    padding: 15px;
}

.review__card-author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.review__post {
    font-family: Roboto;
    font-size: 16px;
    color: #4B5563;
}

.review__card-image {
    width: 850px;
    height: 430px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
    align-self: center;
}

.review__card-image .embla img {
    width: 850px;
    height: 430px;
    object-position: center;
    object-fit: fill;
}

@media (width <=768px) {
    .review {
        margin: 0 5%;
    }
}

@media (width <=425px) {
    .review__card-image {
        aspect-ratio: 16/9;
        width: 100%;
        height: auto;
    }

    .review__card-image .embla img {
        aspect-ratio: 16/9;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}