.offer {
    /* width: 100%;
    padding: 0 300px; */
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-self: center;
    justify-content: center;
}

.offer__image-container .embla {
    width: 710px;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
}

.offer__image-container img {
    object-position: center;
    width: 710px;
    height: 400px;
}

.offer__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 80px 0;
}

.offer__info-title {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 36px;
    margin: 0;
}

.offer__info-description {
    font-family: Roboto;
    font-weight: 300;
    font-size: 24px;
}

.offer__info-price {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
}